body {
  margin: 0;
  font-family: 'Miriam Libre', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-width: 325px;
  max-width: 500px;
}

.thought {
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}