body {
  margin: 0;
  font-family: 'Miriam Libre', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/pixil-forest.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-wrapper {
  align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto auto 50px;
    padding-bottom: 50px;
    width: 475px;
}

main {
  min-width: 320px;
  max-width: 500px;
  margin: 1.5rem auto 1rem auto;
}

h1 {
  font-family: 'Khand', sans-serif;
  font-size: 32px;
}

h2 {
  font-size: 30px;
  font-family: 'Khand', sans-serif;
}

h4 {
  padding: 20px 0 30px 0;
}

p {
  font-size: 18px;
}

.form-section {
  background-color: #f2f2f2;
  max-width: 500px;
  min-width: 200px;
  border: 1.6px solid;
  border-radius: 2px;
  box-shadow: 8px 8px;
  padding: 1.2rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

::placeholder{
  font-family: 'Miriam Libre', sans-serif;
}

.thought-section {
  margin-top: 2rem;
}

.single-thought {
  border: 1px solid #000;
  box-shadow: 5px 5px 0 0 #000;
  background-color: #f2f2f2;
  max-width: 500px;
  min-width: 335px;
  margin: 1.5rem 1rem 1rem 1rem;
  padding: 1.2rem;
  overflow-wrap: break-word
}

.thought-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character-div {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
}

textarea {
  background-color: #fff6f6;
  border: 1px solid #000;
  box-shadow: 5px 5px 0 0 #000;
  display: flex;
  font-size: 15px;
  height: 100px;
  margin: 5px 0 5px 0;
  padding: 10px;
  resize: none;
  width: 400px;
}

.submit-button {
  background-color: #7cb27d;
  border: none;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  font-family: 'Khand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 10px;
}

.submit-button:disabled {
  background-color:rgb(168, 167, 167);
}

.heart-button,
.heart-button-nolikes {
  border-radius: 100%;
  border: none;
  padding: 0.8rem;
  margin-right: 0.6rem;
  cursor: pointer;
}

.heart-button,
.heart-button-nolikes:hover {
  background-color: #ffccd4;
}

.time {
  color: rgb(168, 167, 167);
}

textarea:focus {
  outline: none;
}

.likes-wrapper {
  align-items: center;
    display: flex;
    gap: 5px;
    height: 35px;
}

.footer-wrapper {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px;
}

.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-icons i {
  transition: transform 0.2s ease-in-out;
  color: black;
  cursor: pointer;
}